<div class="sm-main-slider">
    <div class="sm-main-slider-container">
        <div class="sm-main-slider-slide sm-video-slide" id="active-slide-0">
            <div class="sm-video-slide-content">
                <div class="sm-video-slide-video-container">
                    <img src="../../../public/images/video_image_thumbnail.png">
                    <div class="sm-video-slide-video-div">
                        <input type="checkbox" id="show-video" ng-click="autoPlay()">
                        <label for="show-video" class="sm-video-play-button "></label>
                        <div class="sm-video-slide-video">
                            <iframe width="460" height="348" src="{{howItWorksVideoUrl}}" frameborder="0"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="sm-video-slide-text-container">
                    <p class="sm-video-slide-text-container-title">Create beautiful tutorials <br>
                        with the tap of your finger
                    </p>
                    <p class="sm-video-slide-text-container-text sm-text-1">ShowMe is the easiest way to create & share lessons on
                        the iPad.
                    </p>
                    <p class="sm-video-slide-text-container-text sm-text-2">
                        Educators from over 55,000 schools use ShowMeto flip their
                        <br>
                        classrooms, how about you?
                    </p>
                    <div class="sm-video-slide-text-container-story">
                        <div class="sm-video-slide-text-container-story-thumbnail">
                            <img src="../../../public/images/story-thumbnail.png">
                            <div class="sm-video-slide-text-container-story-play-button"></div>
                        </div>
                        <p> Watch Our Story </p>
                    </div>
                    <div class="sm-video-slide-app-store">
                        <div class="fa fa-apple"></div>
                        <div>Download on the</div>
                        <div>App Store</div>
                    </div>
                    <div class="sm-video-slide-chrome-store">
                        <div class="fa fa-apple"></div>
                        <div>Available in the</div>
                        <div>Chrome Web Store</div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="sm-main-slider-slide" id="active-slide-1"></div>-->
        <!--<div class="sm-main-slider-slide" id="active-slide-2"></div>-->
    </div>

    <!--<div class="sm-main-slider-arrow sm-main-slider-arrow-left" ng-click="previous()">-->
    <!--<div class="sm-line-arrow left"></div>-->
    <!--</div>-->

    <!--<div class="sm-main-slider-arrow sm-main-slider-arrow-right" ng-click="next()">-->
    <!--<div class="sm-line-arrow right"></div>-->
    <!--</div>-->

</div>